.bg {
  //Sizing
  &-std {
    background-size: cover;
    background-position: center;
  }

  //Colors & Patterns
  &-black {
    background-color: $color-black;
  }

  &-white {
    background-color: $color-white;
  }

  &-red {
    background-color: $color-lightRed;
  }

  &-pommes {
    background-image: url('../img/png/bg_pommes.png');
    @include breakpoint {
      background-size: 100%;
    }
  }

  //Images
  &-dude{
    &.mobile-bg {
      background-image: url('../img/jpg/header_top_mobile.jpg');
    }
    @include breakpoint($screen-sm) {
      background-image: url('../img/jpg/header_top.jpg');
    }
  }
  &-crowd {
   &.mobile-bg {
     background-image: url('../img/png/bg_history_mobile.png');
   }
   @include breakpoint($screen-sm) {
    background-image: url('../img/png/bg_history.png');
   }
  }
  &-fired{
    &.mobile-bg {
      background-image: url('../img/png/bg_vorstand_mobile.png');
    }
    @include breakpoint($screen-sm) {
      background-image: url('../img/png/bg_vorstand.png');
    }
  }
  &-cleancrowd{
    &.mobile-bg {
      background-image: url('../img/png/bg_crowd_mobile.png');
    }
    @include breakpoint($screen-sm) {
      background-image: url('../img/png/bg_crowd.png');
    }
  }
  &-clouds{
   &.mobile-bg {
      background-image: url('../img/png/memorial_BG_mobile.png');
    }
    @include breakpoint($screen-sm) {
      background-image: url('../img/png/memorial_BG.png');
    }
  }
  &-events{
   &.mobile-bg {
      background-image: url('../img/png/veranstaltungen_bg_mobile.png');
    }
    @include breakpoint($screen-sm) {
      background-image: url('../img/png/veranstaltungen_bg.png');
    }
  }
  &-galery{
    &.mobile-bg{
      background-image: url('../img/png/galery_bg_mobile.png');
    }
    @include breakpoint($screen-sm) {
      background-image: url('../img/png/galery_bg.png');
    }
  }
}