//Global Elements
.container {
  max-width: $container-max;
}

//Positions
.pos-rel {
  position: relative;
}

//Displays
.dp{
  &-inline-block {
    display: inline-block;
  }
}

//Images
img.maxImage {
  max-width: 100%;
  height: auto;
}

//Containers
.fullPageWrapper {
  max-width: $fullPage-max;
  margin: 0 auto;
}


//Backgrounds
.bg-black {
  background-color: $color-black;
}

.bg-white {
  background-color: $color-white;
}

.bg-red {
  background-color: $color-lightRed;
}

.bg-pommes {
  background-image: url('../img/png/bg_pommes.png');
  @include breakpoint($screen-sm){
    background-size: 100%;
  }
}

.bg{
  &-std {
    background-size: cover;
    background-position: center;
  }
}

//Header
.fullHeightHeader{

}

//Dashed
.dashed-top-left {
  position: relative;
  &:before {
    content: "";
    width: 2rem;
    height: 2px;
    background-color: $color-white;
    position: absolute;
    top: -$gap-md;
    left: 0;
  }
  &.half-width:before{
    width: 100%;
    @include breakpoint{
      width: 40%;
    }
  }
}
