//Global Elements
.container {
  max-width: $container-max;
}

//Positions
.pos-rel {
  position: relative;
}

//Displays
.dp{
  &-inline-block {
    display: inline-block;
  }
}

//Images
img.maxImage {
  max-width: 100%;
  height: auto;
}

//Containers
.fullPageWrapper {
  //max-width: $fullPage-max;
  width: 100%;
  margin: 0 auto;
}

//Min-FullPage_BG
.fullPageElement{
  min-height: 100vh;
  @include breakpoint($screen-sm) {
    &.flexed_center {
      display: flex;
      align-items: center;
    }
  }
}


//Dashed
.dashed-top-left {
  position: relative;
  &:before {
    content: "";
    width: 2rem;
    height: 2px;
    background-color: $color-white;
    position: absolute;
    top: -$gap-md;
    left: 0;
  }
  &.half-width:before{
    width: 100%;
    @include breakpoint{
      width: 40%;
    }
  }
}
