//Global Elements
body, html {
  background-color: black;
  color: $color-white;
  font-family: $font_regular;
}

.container {
  max-width: 980px;
}

//Images
img {
  max-width: 100%;
  height: auto;
}