a {
  color: inherit;
  text-decoration: none;
  transition: color $transition-short;
  @include noTouchHover{
    color: inherit;
    text-decoration: none;
  }

  &.whiteLink {
    color: $color-white;
    @include noTouchHover{
      color: $color-lightRed;
    }
  }

  &.navactive {
    color: $color-lightRed;
  }
}


.cwo-btn{
  transition: color $transition-short, background-color $transition-short;
  display: inline-block;
  text-align: center;
  padding: $gap-std $gap-std $gap-std/2 $gap-std;
  font-family: $font-heat;
  font-size: $font-size-bigger*.65;
  @include breakpoint {
    font-size: $font-size-bigger*.85;
  }
  letter-spacing: 1px;
  cursor: pointer;
  outline: 0 !important;
  border: none !important;
  &-red{
    background-color: $color-lightRed;
    color: $color-white;
    @include noTouchHover{
      color: $color-white;
      background-color: $color-darkRed;
    }
    @include noPseudoClasses($color-white);
  }
  &.fullWidth{
    width: 100%;
  }
}

.cwo_loc_back{
  cursor: pointer;
}

.se_bandlink{
  img{
    transition: transform $transition-short;
    @include noTouchHover {
      transform: scale(1.1);
    }
  }
}