//Font-Std
body,html {
  color: $color-white;
  font-family: $font_regular;
  font-size: $font-size-regular;
}

//Headlines (Family + Sizing)
h1,h2,h3,h4,h5 {
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: $font-size-regular;
}

//Text (Family + Sizing)
.bolded,strong{
  font-family: $font-bold;
  font-size: $font-size-bold;
}

.font{
  &-std {
    font-family: $font-regular !important;
  }
  &-bold {
    font-family: $font-bold !important;
  }
  &-demon {
    font-family: $font-demon !important;
    position: relative; top: 6px;
  }
  &-heat{
    font-family: $font-heat !important;
    line-height: 1;
    letter-spacing: 1px;
  }
  &-lord {
    font-family: $font-lord !important;
  }
  &-heavy {
    font-family: $font-heavy !important;
  }
  &-barbarian {
    font-family: $font-barbarian !important;
  }
}

.fontsize{
  &-std {
    font-size: $font-size-regular;
  }
  &-bold {
    font-size: $font-size-bold;
  }

  &-bigger{
    font-size: $font-size-bigger;
  }
  &-headline {
    font-size: $font-size-headline;
  }
  &-headline-big {
    font-size: $font-size-headline*1.25;
  }
}

.letter-space{
  &-sm{
    letter-spacing: 1px;
  }
  &-md {
    letter-spacing: 2px;
  }
  &-lg {
    letter-spacing: 3px;
  }
}

//Text Colors
.color{
  &-black {color: $color-black;}
  &-white {color: $color-white;}
  &-lightRed {color: $color-lightRed;}
  &-darkRed {color: $color-darkRed;}
}

.dashed-headline{
  @include buildDashedHeadline;
}