/* Fonts */
$font-demon     : 'Demon', 'Helvetica', sans-serif;
$font-heavy     : 'Heavy', 'Helvetica', sans-serif;
$font-lord      : 'Lord', 'Helvetica', sans-serif;
$font-barbarian : 'Barbarian', 'Helvetica', sans-serif;
$font-regular   : 'font_regular', 'Helvetica', sans-serif;
$font-bold      : 'font_bold', 'Helvetica', sans-serif;

/* Font Sizing */
$font-size-regular  : 14px;
$font-size-bold     : 15px;
$font-size-headline : 19px;

/* Colors */
$color-black    : #0f0f0f;
$color-white    : #f0f0f0;
$color-lightRed : #ff0033;
$color-darkRed  : #cc0000;


/* Transitions */
$transition-short   : 300ms;
$transition-default : 500ms;
$transition-long    : 800ms;

/* Sizes + Gaps */
$padding-std : 15px;
$gap-std     : 1rem;
$gap-md      : 2rem;
$gap-lg      : 3rem;
$gap-xl      : 6rem;

/* Containers */
$container-max: 1080px;
$fullPage-max : 1920px;
