/* Fonts */
$font-demon   : 'Demon', 'Helvetica', sans-serif;
$font-regular : 'font_regular', 'Helvetica', sans-serif;
$font-bold    : 'font_bold', 'Helvetica', sans-serif;

/* Colors */
$color-white: #f0f0f0;

/* Transitions */

/* Sizes + Gaps */
$padding-std : 15px;
$gap-std     : 1em;