.front-page_header {
  /** The Header **/
  &_top {
    height: 50vh;
    display: flex;
    align-items: center;
    @include orientation(landscape) {
      height: 75vh;
    }
    @include breakpoint($screen-sm) {
      @include orientation(landscape) {
        height: 100vh;
      }
    }
  }

  &_content_wrapper {
    display: flex;
    align-items: center;
  }
  /** Headline **/
  &_headline {;
    h1 {
      opacity: .25;
      font-size: 3vw;
      span.da_head {
        margin-bottom: 10px;
        font-size: 9vw;
        @include breakpoint {
          left: -5px;
          margin-bottom: 15px
        }
      }

      span:last-child {
        @include breakpoint {
          text-transform: uppercase;
        }
      }
    }
  }
  /** Images **/
  &_images {
    img {
      border-radius: 4px;
      &:first-child {
        margin-bottom: $gap-md;
      }
    }
  }
  /** Single Next Event **/
  &_next_event {
    padding-left: 15px;
    padding-right: 15px;
  }
}