.front-page_history {
  @include breakpoint($screen-sm) {
    background-image: url('../img/png/bg_history.png');
  }
  &_middle {
    @include breakpoint($screen-md, 'max-width') {
      h2 {
        @include buildDashedHeadline;
      }
    }
    @include breakpoint() {
      padding: 0 60px;
      height: 100%;
      .v-line {
        height: 350px;
        margin: 0 auto;
        width: 1px;
        background-color: $color-white;
        display: block;
        &:first-child {
          margin-bottom: $gap-md;
        }
        &:last-child {
          margin-top: $gap-md;
        }
      }
    }
  }
  .row {
    @include breakpoint() {
      display: flex;
      align-items: center;
    }
  }

  .the_history_navigation {
    padding-left: 5px;
  }
  li {
    display: inline-block;
    background-color: $color-white;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    transition: background-color $transition-short;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 8px;
    }
    &.active {
      background-color: $color-darkRed;
    }
    @include noTouchHover {
      background-color: $color-darkRed;
    }
  }
}