.front-page_header {
  /** The Header **/
  &_top {
    height: 50vh;
    display: flex;
    align-items: center;
    @include orientation(landscape) {
      height: 75vh;
    }
    @include breakpoint($screen-sm) {
      @include orientation(landscape) {
        height: 100vh;
      }
      @media screen and (min-width: 1600px) and (min-height: 2000px) {
        height: auto;
        padding: $gap-xl;
      }
    }
  }

  &_content_wrapper {
    display: flex;
    align-items: center;
  }
  /** Headline **/
  &_headline {;
    @include breakpoint {
      text-align: left !important;
    }
    h1 {
      @include breakpoint($screen-xs, 'max-width') {
        font-size: 135%;
      }
      @include breakpoint {
        font-size: 150%;
      }
      span.da_head {
        font-size: 260%;
        margin-bottom: 10px;
        @include breakpoint {
          font-size: 305%;
          left: -5px;
          margin-bottom: 15px
        }
      }

      span:last-child {
        @include breakpoint {
          text-transform: uppercase;
        }
      }
    }
  }
  /** Images **/
  &_images {
    img {
      border-radius: 4px;
      &:first-child {
        margin-bottom: $gap-md;
      }
    }
  }
  /** Single Next Event **/
  &_next_event {
    padding-left: 15px;
    padding-right: 15px;
  }
}