.page-bilder_content{
  .the_galleries{
    display: flex;
    flex-wrap: wrap;
  }

  .single_gallery{

    text-align: center;

    width: 50%;
    height: 40vw;
    @include breakpoint($screen-sm){
      width: 33.33%;
      height: 30vw;
      @include linear-gradient($color-darkRed,darken($color-darkRed,25%));
    }

    @include breakpoint($screen-lg + 300px){
      height: 20vw;
      width: 25%;
    }
    &_inner{
      background: black;
      height: 100%;
      padding: 2px;
      width: 100%;
      background-size: cover;
      background-clip: content-box;
      @include breakpoint($screen-sm){
        background-clip: border-box;
      }

      @include noTouchHover{
        background-clip: content-box;
        cursor: pointer;
        .single_gallery_text{
          background: rgba(black,.9);
            h3 {
              color: $color-darkRed;
              //background: -webkit-linear-gradient(white, black);
              //-webkit-background-clip: text;
              //-webkit-text-fill-color: transparent;
            }
            img {
              opacity: 1;
            }
        }
      }

      // Mobile Background
      @include breakpoint($screen-sm-max, 'max-width') {
        background-image: none;
        background-color: $color-darkRed;
      }
    }
    &_text{
      height: 100%;
      width: 100.1%;
      transition: background $transition-short ease-out;
      h3{
        padding-top: 16vw;
        transition: background $transition-short, color $transition-short ease-out;
        @include breakpoint($screen-sm){
          font-size: $font-size-large;
          padding-top: 13vw;
        }

        @include breakpoint($screen-lg + 300px) {
          padding-top: 8vw;
        }
      }

      img {
        opacity: 0;
        transition: opacity $transition-short ease-out;
        width: 50px;
        margin-top: $gap-md
      }
    }

  }
}