.page-events_content{
  hr{
    margin: 0;
  }
  .single_event_content{
    padding-bottom: 10px;
    @include breakpoint($screen-sm) {
      display: flex;
      align-items: flex-end;
    }

    @include breakpoint($screen-sm-max,'max-width'){
      div:not(:last-child) {
        padding-bottom: 10px;
      }
    }

    .vereinsintern_image{
      width: 140px;
      height: 25px;
      margin: 15px 0;
      @include breakpoint($screen-sm) {
        margin: 0;
        width: 116px;
        height: 21px;
      }
    }
  }

  h2{
    line-height: 2;
  }
}