.page-events_content {
  .single_event {
    img,span {
      width: 150px;
      height: 20px;
      margin-right: $gap-std;
    }

    h2{
      margin-right: $gap-std
    }

    hr {
      margin: $gap-std 0 $gap-md 0;
    }

    &:not(:last-child){
      margin-bottom: $gap-md;
      @include breakpoint() {
        margin-bottom: $gap-xl;
      }
    }
  }
}