.single-galerien_content{
  transition: all $transition-default !important;
  .galery_slider{
    overflow: hidden;
  }
  .slider_nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color $transition-short;
    @include noTouchHover{
      color: $color-darkRed;
    }

    &.prev_slide{
      left: -30px;
    }

    &.next_slide{
      right: -30px;
    }
  }
}