.single-galerien_content{
  .gallery_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include breakpoint($screen-sm) {
      justify-content: space-between;
    }

    img{
      height: 100vw;

      @include breakpoint($screen-sm) {
        height: 14.5vw;
      }
      margin: 15px 0;
      width: auto;
      max-height: 190px;
    }
  }
}