.cwo_eventheader{
  background-color: red;

  height: 250px;
  padding-top: 210px;

  @include breakpoint($screen-sm){
    height: 350px;
    padding-top: 270px;
  }

  @include breakpoint{
    padding-top: 38vh;
    height: 50vh;
  }
}