.cwo_navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 15px;
  background: transparent;
  width: 100%;
  z-index: 10;
  transition: background-color $transition-short;

  &.scrolled{
    background-color: rgba($color-black,.95);
  }

  img {
    max-width: 120px;
    @include breakpoint() {
      max-width: 200px;
    }
    height: auto;
  }
}