.cwo_eventheader{
  height: 250px;
  padding-top: 210px;

  .header_vereinsintern{
    width: 150px;
    height: 27px;
  }

  @include breakpoint($screen-sm){
    height: 350px;
    padding-top: 270px;
  }

  @include breakpoint{
    padding-top: 48vh;
    height: 60vh;
    background-position: bottom;
  }
}