.cwo-navbar{
  @include breakpoint($screen-xs-max,'max-width'){
    background-color: rgba($color-black,.975);
  }


  .navbar-toggle{
    border-color: $color-white;
    border-radius: 0;

    .icon-bar{
      background-color: $color-white;
    }
  }
  .navbar-brand {
    font-size: 250%;
    @include noPseudoClasses($color-white);
  }
  @include breakpoint($screen-sm) {
    ul {
      padding-top: 10px;
    }
    padding-bottom: 5px;
    .navbar-brand {
    font-size: 350%;
    @include noTouchHover{
      color: $color-darkRed;
    }
    }
  }

  .nav>li>a{
    &:hover {
      background-color: transparent;
    }
    &:focus,:visited,:active{
      background-color: transparent;
      outline: none;
    }
  }

  &.blackened{
    background-color: rgba($color-black,.85)
  }
}