.page-memorial_content{
  #the_cap{
    position: absolute;
    top: -60px;
    right: -40px;
    width: 120px;
    height: 120px;
    transform: rotate(45deg);

    &.moving {
      animation-name: cap-animation;
      animation-duration: $transition-short;
      animation-iteration-count: 3;
    }

    &.playable {
      transition: height $transition-short, width $transition-short, top $transition-short, right $transition-short;
      cursor: pointer;
      @include noTouchHover {
        height: 140px;
        width: 140px;
        top: -70px;
        right: -50px;
      }
    }
  }

  @include breakpoint{
    .iframe_wrapper {
      padding-top: 57px;
    }
  }
}

@keyframes cap-animation {
  0%, 50%, 100% {transform: rotate(45deg);}
  25%           {transform: rotate(40deg);}
  75%           {transform: rotate(50deg);}
}