.page-memorial_content{
  @include breakpoint($screen-xs-max,'max-width'){
    padding-top: 15px;
  }
  @media screen and (max-width:$screen-sm-max) and (min-width:$screen-sm){
    padding-top: 105px;
  }
  #the_cap{
    position: absolute;
    width: 120px;
    height: 120px;
    top: -130px;
    right: 50%;
    margin-right: -60px;
    @include breakpoint($screen-sm){
      right: 25%;
      transform: rotate(45deg);
      top: -60px;
    }
    @include breakpoint($screen-md) {
      right: 0;
    }

    &.moving {

      animation-name: cap-animation-mobile;
      @include breakpoint($screen-sm){
        animation-name: cap-animation;
      }
      animation-duration: $transition-short;
      animation-iteration-count: 3;
    }

    &.playable {
      transition: height $transition-short, width $transition-short, top $transition-short, right $transition-short;
      cursor: pointer;
      @include noTouchHover {
        height: 140px;
        width: 140px;
        top: -70px;
        right: -10px;
      }
    }
  }

  h1{
    @include breakpoint($screen-md-max,'max-width') {
      margin-bottom: $gap-lg;
    }
  }

  @include breakpoint{
    .iframe_wrapper {
      padding-top: 57px;
    }
  }
}

@keyframes cap-animation-mobile {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

@keyframes cap-animation {
  0%, 50%, 100% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(40deg);
  }
  75% {
    transform: rotate(50deg);
  }
}